<div class="page-container">
    <section class="card-form-container">
        <mat-card>
            <mat-card-content>
                <mat-form-field appearance="fill" class="full-field">
                    <mat-label>Tipo</mat-label>
                    <mat-select [(ngModel)]="newItem.type">
                        <mat-option [value]="type" *ngFor="let type of types">{{type.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field ppearance="fill" class="full-field">
                    <mat-label>Variedad</mat-label>
                    <mat-select [(ngModel)]="newItem.variety">
                        <mat-option [value]="variety" *ngFor="let variety of varieties">{{variety.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field ppearance="fill" class="full-field">
                    <mat-label>Color</mat-label>
                    <mat-select [(ngModel)]="newItem.color">
                        <mat-option [value]="color" *ngFor="let color of colours">{{color.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Cantidad</mat-label>
                    <input matInput type="number" name="amount" id="amount" [(ngModel)]="newItem.amount">
                </mat-form-field>
                <p>
                    <button mat-raised-button color="primary" (click)="onCreateItem()">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
                        Crear
                    </button>
                </p>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="card-item-list-container">
        <mat-card class="card-item" *ngFor="let item of items">
            <mat-card-content>
                <span>{{item.type.name}}</span>
                <span>{{item.variety.name}}</span>
                <span>{{item.color.name}}</span>
                <span>{{item.amount}}</span>
                <mat-icon aria-hidden="false" aria-label="" fontIcon="qr_code" (click)="onShowModalQR(item)"></mat-icon>
                <mat-icon aria-hidden="false" 
                aria-label="" 
                fontIcon="content_copy"
                matTooltip="ID copiado al portapapeles"
                [matTooltipShowDelay]="1000"
                [matTooltipHideDelay]="2000"
                (click)="onCopy(item)"></mat-icon>
            </mat-card-content>
        </mat-card>
    </section>
</div>