<div class="page-container">
    <section class="card-form-container">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>Ingresa el codigo del item que quieras ver los movimientos y presiona la tecla Enter o el boton Consultar</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="fill" class="full-field">
                    <mat-label>Codigo</mat-label>
                    <input matInput type="text" name="item" id="item" [(ngModel)]="itemIDSearch"
                        (keydown.enter)="onItemInputKeypress($event)">
                </mat-form-field>
                <p>
                    <button mat-raised-button color="primary" (click)="onSearchItem()">
                        <mat-icon aria-hidden="false" aria-label="Search item" fontIcon="add"></mat-icon>
                        Buscar
                    </button>
                </p>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="card-item-list-container" *ngIf="movements.length">
        <mat-card class="card-item">
            <mat-card-content>
                <span>{{movements[0].item.type.name}}</span>
                <span>{{movements[0].item.variety.name}}</span>
                <span>{{movements[0].item.color.name}}</span>
                <span>{{movements[0].item.amount}}</span>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="card-item-list-container" *ngIf="movements.length">
        <mat-card class="card-item" *ngFor="let movement of movements">
            <mat-card-content>
                <span>{{movement.place.name}}</span>
                <span>{{movement.createdAt | date:'yyyy-MM-dd HH:mm'}}</span>
            </mat-card-content>
        </mat-card>
    </section>
</div>