/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }

/* Font Face */
@font-face {
    font-family: 'Gilroy Regular';
    src: url('./assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('./assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('./assets/fonts/Gilroy-ExtraBold.ttf');
}

*:not(mat-icon) {
    font-family: 'Gilroy Regular' !important;
}

/* Forms */
.full-field {
    width: 100%;
}
